* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #d0dadb;

}

nav h1 {
    width: 70%;
    letter-spacing: 2px;
    font-weight: bold;
}

nav a {
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    margin-right: 20px;
}

nav a.router-link-active {
    background-color: #42b983;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
}

.formWrapper {
    margin-top: 50px;
    background-color: #bec2c4;
    width: 80%;
    margin-left: 150px;
    border-radius: 10px;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 90%;
    background-color: white;
    border-radius: 10px;
}

form h3 {
    font-size: 30px;
    letter-spacing: 1px;
    margin-left: 40px;
    margin-top: 20px;
}

.formLabel {
    width: 80%;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 40px;
}

.formInput {
    margin-left: 40px;
    display: block;
    width: 70%;
    margin-top: 10px;
    height: 30px;
    font-size: 18px;
    color: gray;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #bec2c4;
    padding-left: 10px;
}

.formRole {
    margin-left: 40px;
    display: block;
    width: 70%;
    margin-top: 10px;
    height: 30px;
    font-size: 18px;
    color: gray;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #bec2c4;
    padding-left: 10px;
}

.formRole option {
    text-transform: capitalize;
}

.formBtn {
    width: 120px;
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: #6ea4e6;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.Error {
    margin-left: 40px;
    margin-top: 10px;
    color: crimson;
}

.poll {
    padding: 10px;
    border-top: 1px dotted #ddd;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.poll h3 {
    color: #00dba4;
    font-size: 30px;
    text-transform: capitalize;
    width: 50%;
    cursor: pointer;
}

.pollOptions {
    color: #555;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
}

.pollOptions span {
    margin-left: 10px;
    text-transform: capitalize;
}

.pollOptions input {
    margin-left: 20px;
}

.pollHome {
    position: relative;
}

.addPoll {
    position: absolute;
    right: 20px;
    top: -10px;
}

.addPollBtn {
    margin-right: 20px;
    background-color: #69bbfa;
    color: white;
    border: none;
    height: 40px;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.addPollBtn:hover {
    background-image: linear-gradient(to right, #599acd, #356182);
}

.pollWrapper {
    margin-top: 50px;
    background-color: #bec2c4;
    width: 80%;
    margin-left: 150px;
    border-radius: 10px;
}

.wrap {
    height: 50px;
}

.pollwrap {
    height: 30px;
}

.pollForm {
    width: 70%;
    margin-left: 170px;
    background-color: white;
    border-radius: 10px;
    color: #555;
    /* display: flex;
    flex-direction: column; */

}

.pollLabel {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 25px;
    letter-spacing: 1px;
    display: block;
}

.pollInput {
    display: block;
    margin-left: 40px;
    width: 50%;
    margin-top: 10px;
    height: 30px;
    font-size: 18px;
    color: gray;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #bec2c4;
    padding-left: 10px;
}

.inputWrap {
    position: relative;
}

.pollIcon {
    position: absolute;
    right: 46%;
    top: 6px;
    font-size: 20px;
}

.pollIcon:hover {
    color: #6ea4e6;
}

.pollButton {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    padding: 10px;
    margin-left: 50px;
    color: white;
    background-color: #42b983;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: width 2s;
}

.pollButton:hover {
    background-image: linear-gradient(to right, #42b983, #b4d6bb);
    width: 180px;
}

.pollOption {
    margin-left: 40px;
    display: inline-block;
    margin-top: 10px;
    text-transform: capitalize;
    background-color: #bec2c4;
    border-radius: 5px;
    padding: 10px 20px;
}

.addError {
    margin-top: 10px;
    margin-left: 40px;
    color: crimson;

}

.toastWrap {
    background-image: linear-gradient(to right, #4d9c4df5, #b4d6bb);
    width: 45%;
    height: 220px;
    border-radius: 10px;
    text-align: center;
    align-items: center;

}

.toastContent {
    padding: 20px 40px;
    font-size: 40px;
    color: #0e3b37;
    font-weight: bolder;
}

.toastBtn {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.successToast {
    position: absolute;
    top: 200px;
    left: 300px
}